# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.yarn/install-state.gz

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
modules/*/android/build/
modules/*/android/.gradle/
modules/*/android/.cxx/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

ios/
!ios/NextcloudCalendar
!ios/NextcloudCalendar.xcodeproj/xcshareddata/xcschemes
ios/Podfile

!modules/**/ios/
!modules/**/ios/**
android/**
android/*
!android/app/
!android/app/src/
!android/app/src/main/
!android/app/src/main/AndroidManifest.xml

.claude
.superpowers
.codex
/docs

.idea
.env
.fdroid/

.devin